.BlogSection{
    width: 100%;
    text-align: center;
    border: 1px solid lightgreen;
    border-radius: 3px;
    margin-top: 10px;
}

.carousal_posts{ }


.tags{ 
    border: 1px solid grey;
    border-radius: 3px;
}

.BlogPostsSection{
    width: 100%;
    border: 1px solid lightsalmon;
    border-radius: 3px;
    padding: 1px;
}

.anticon-user{
    vertical-align: 8px !important;
}